$col-bg: #424852;
$col-gradient-start: #29364B;
$col-gradient-end: #05070A;
$col-accent-grey: #B5B5B5;

@font-face {
  font-family: "CaveatBrush";
  src: url("/font/caveat/CaveatBrush-Regular.woff2") format("woff2"),
       url("/font/caveat/CaveatBrush-Regular.woff") format("woff"),
       url("/font/caveat/CaveatBrush-Regular.ttf") format("ttf");
}

@font-face {
  font-family: "HonyaJi";
  src: url("/font/honya/HonyaJi-Re.woff2") format("woff2"),
       url("/font/honya/HonyaJi-Re.woff") format("woff"),
       url("/font/honya/HonyaJi-Re.ttf") format("ttf");
}

body {
  background: $col-bg;
}

footer, header {
  border-color: $col-accent-grey;
  border-width: 6px;
}

html[lang="en"] .font--nav, .font--nav--en {
  font-family: Calibri, 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}
html[lang="en"] .font--tex, .font--tex--en {
  font-family: CaveatBrush, serif;
}
html[lang="ja"] .font--tex, .font--tex--ja,
html[lang="ja-simple"] .font--tex, .font--tex--ja-simple,
html[lang="ja"] .font--nav, .font--nav--ja,
html[lang="ja-simple"] .font--nav, .font--nav--ja-simple {
  font-family: HonyaJi, sans-serif;
}

rect.debug {
  fill: none;
  stroke: red;
}

main {
  background-color: $col-gradient-start;
  background-color: linear-gradient($col-gradient-start, $col-gradient-end);
}
