$col-bg: #424852;
$col-bg-dark: darken($col-bg, 10%);
$col-accent-grey: #B5B5B5;
$col-nav-active: #fff;
$col-nav-inactive: rgba(255, 255, 255, 0.6);
$col-active-fill: rgba(255, 255, 255, 0.1);
$col-content-side: #f0f0f0;
$col-content-bg: #fff;
$col-content-link: #1E281A;
$col-content-accent: lighten(#1E281A, 60%);

@font-face {
  font-family: "CaveatBrush";
  src: url("/font/caveat/CaveatBrush-Regular.woff2") format("woff2"),
       url("/font/caveat/CaveatBrush-Regular.woff") format("woff"),
       url("/font/caveat/CaveatBrush-Regular.ttf") format("ttf");
}

@font-face {
  font-family: "HonyaJi";
  src: url("/font/honya/HonyaJi-Re.woff2") format("woff2"),
       url("/font/honya/HonyaJi-Re.woff") format("woff"),
       url("/font/honya/HonyaJi-Re.ttf") format("ttf");
}

body, html {
  padding: 0;
  margin: 0;
}
img {
  user-select: none;
}

.font--nav, .font--nav--en,
.font--article, .font--article--en {
  font-family: Calibri, 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}
.font--tex, .font--tex--en {
  font-family: CaveatBrush, serif;
}

%font_ja {
  font-family: HonyaJi, sans-serif;
}

%font_ja_fallback {
  font-family: 'ヒラギノ角ゴ ProN' , 'Hiragino Kaku Gothic ProN' , '游ゴシック' , '游ゴシック体' , YuGothic , 'Yu Gothic' , 'メイリオ' , Meiryo , 'ＭＳ ゴシック' , 'MS Gothic' , HiraKakuProN-W3 , 'TakaoExゴシック' , TakaoExGothic , 'MotoyaLCedar' , 'Droid Sans Japanese' , sans-serif;
}

html[lang="ja"],
html[lang="ja-simple"] {
  & .font--tex, & .font--nav {
    @extend %font_ja;
  }
  & .font--article {
    @extend %font_ja_fallback;
  }
}
.font--tex--ja, .font--tex--ja-simple,
.font--nav--ja, .font--nav--ja-simple {
  @extend %font_ja;
}
.font--article--ja, .font--article--ja-simple {
  @extend %font_ja_fallback;
}

%cbfocus {
  outline: 3px dashed rgba(255, 255, 255, 0.5);
}
.button--next,
.button--prev {
  text-decoration: none;
  font-size: 90px;
  display: flex;
  width: 50%;
  color: $col-nav-inactive;
  top: 0px;
  position: absolute;
  outline: none;
  &:hover, &:focus {
    color: $col-nav-active;
  }
  &:focus {
    @extend %cbfocus;
  }
  & span {
    padding: 20px;
    user-select: none;
  }
}
.button--next {
  right: 0;
  justify-content: flex-end;
}
.cb--button-bar {
  position: absolute;
  left: 150px;
  right: 200px;
  bottom: 150px;
  height: 200px;
}
.cb {
  color: white;
}
.cb--content {
  position: absolute;
  left: 135px;
  top: 135px;
  font-size: 150px;
  line-height: 1.9em;
  user-select: none;
}
.cb--question--title {
  font-size: 120px;
  line-height: 1.2em;
}
.cb-options {
  display: flex;
  flex-direction: row;
  top: 450px;
  width: 2200px;
  justify-content: space-evenly;
  position: absolute;
}
.cb-option {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.cb-option--image img {
  width: 400px;
}
.cb-option--title {
  font-size: 90px;
}
.cb--menu--table {
  position: absolute;
  top: 350px;
  width: 2200px;
  border-collapse: collapse;
}
.cb--menu--table th img {
  width: 175px;
}
.cb--menu--weather {
  padding-right: 50px;
}
.cb--menu--place {
  padding-top: 20px;
}
.cb--menu--title {
  font-size: 90px;
  width: 2235px;
  height: 300px;
  top: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cb--menu--item {
  font-size: 110px;
  border-color: rgba(255, 255, 255, 0.75);
  border-width: 0.3vmax;
  width: 50%;
  position: relative;
  a, span {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
  }
}
.cb-option--image {
  width: 400px;
}
.cb--menu {
  tr:nth-child(1) {
    td:nth-child(2),
    td:nth-child(3) {
      border-bottom-style: solid;
    }
  }
  tr:nth-child(1) td:nth-child(2),
  tr:nth-child(2) td:nth-child(2) {
    border-right-style: solid;
  }
}
.cb--menu--item--active {
  background: rgba(255, 255, 255, 0.4);
  &:focus-within {
    background: rgba(255, 255, 255, 0.5);
  }
}
.cb--menu--item {
  a {
    outline: none;
  }
  &:focus-within {
    @extend %cbfocus
  }
}
.cb--menu--item--button {
  &:hover, &:focus-within {
    background: rgba(255, 255, 255, 0.15);
  }
}
.progress--feedback--link,
.progress--active {
  font-size: 15px;
  position: fixed;
  right: 0;
  top: 0;
  padding: 20px;
  z-index: 1;
  color: white;
  text-shadow: #000 1px 1px 5px;
  display: flex;
  align-items: center;
  text-decoration: none;
}
.progress--percent,
.progress--feedback-star {
  width: 35px;
  height: 35px;
}
.progress--text {
  width: 5.5em;
  padding: 0.2em 0.8em;
  user-select:none;
}
.progress--text {
  width: max-content;
}
.progress--feedback {
  position: absolute;
  display: flex;
  top: 56px;
  width: max-content;
  height: max-content;
  z-index: 2;
  text-align: center;
  transform-origin: 0 0;
  transform: rotate(8deg) translate(-3px, -10px);
  transition: 0.5s transform;
}
.progress--feedback--link {
  &:hover, &:focus {
    outline: none;
    .progress--feedback--star-bg,
    .progress--feedback--bg-shadow {
      fill: black;
    }
    .progress--feedback {
      transform: rotate(12deg) translate(-3px, -10px);
    }
  }
}
.progress--feedback--bg {
  position: absolute;
  width: 100%;
  height: 100%;
}
.progress--feedback--button {
  z-index: 1;
  padding: 1.5em 0.6em 0.5em 0.6em;
}
.progress--feedback--bg,
.progress--feedback--button {
  margin-left: calc(-50% + 18px);
}
.progress--reset {
  cursor: pointer;
  width: 30px;
  position: fixed;
  opacity: 0.6;
  right: 10px;
  top: 10px;
  outline: none;
  z-index: 1;
  &:focus, &:hover {
    opacity: 1;
  }
}
.lunch--alert {
  color: #000;
  font-family: Calibri, 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
  font-size: 600px;
  font-weight: bold;
}
.view-box {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: none;
}
.view-box.ready {
  display: block;
}
.lunch-detail--lunch {
  display: flex;
  justify-content: center;
  svg {
    margin: 100px 20px;
    max-width: 960px;
  }
}
.lunch-detail--spacer {
  color: white;
  position: relative;
  margin-top: -50px;
  width: 100%;
  height: 50px;
  text-align: center;
  span {
    &:before, &:after {
      content: '>';
      transform: rotate(90deg);
      display: inline-block;
      padding: 0 20px;
    }
    position: relative;
    display: inline-block;
    padding: 0.75em;
    top: 0;
    font-size: 20px;
  }
}
.main--main-screen--desperate,
.main--main-screen--gamble {
  .illustration--title {
    color: white;
  }
}
.illustration--weather--hot,
.illustration--weather--warm,
.illustration--location {
  font-size: 50px;
  color: white;
  position: absolute;
}
.illustration--weather--hot {
  left: 90px;
  top: 40px;
  width: 332px;
  height: 96px;
}
.illustration--weather--warm {
  left: 115px;
  width: 170px;
  top: 29px;
  height: 67px;
}
html[lang="ja-simple"] {
  .illustration--weather--warm,
  .illustration--weather--hot,
  .illustration--location {
    font-size: 30px;
  }
}
.illustration--location {
  left: 2850px;
  top: 20px;
  width: 250px;
  height: 90px;
}
.illustration--image {
  user-select: none;
}
.view-box--unfocus {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  text-decoration: none;
  display: none;
  span {
    position: fixed;
    z-index: 2;
    bottom: 0;
    width: 100%;
    display: block;
    text-align: center;
    padding: 10px;
    font-size: 25px;
    text-decoration: none;
    color: white;
  }
  &:hover {
    span {
      text-decoration: underline;
    }
  }
}
.view-box--canvas {
  position: relative;
  transform-origin: top left;
}
.view-box--focussed {
  .view-box--unfocus {
    display: block;
  }
  .view-box--canvas {
    user-select: none;
    pointer-events: none;

    .bubble-text--link {
      pointer-events: none;
      display: none;
    }
  }
}
.i18n-box--placed {
  display: flex;
}
.bubble-text--content {
  position: absolute;
  user-select: none;
  .bubble-text--padding span {
    &, & rt {
      user-select: none;
      background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVQYV2Pg4uL6DwABXgEewyNBSAAAAABJRU5ErkJggg==);
      background-size: 200px 8000px;
      background-position: right;
      background-repeat: no-repeat;
      transition: 1s background-size linear;
    }
    transition: 3s background-size linear;
    line-height: 1.5em;
    &.bubble-text--seen {
      &, & rt {
        user-select: text;
        background-size: 0px 8000px !important;
      }
    }
  }
}
.bubble-text--padding {
  padding: 0.3em 0.7em;
}
.bubble-text--seen {
  background-size: 0
}
html[lang="ja"],
html[lang="ja-simple"] {
  & .bubble-text--content span {
    line-height: 1.7em;
  }
}
.bubble-text--viewbox {
  position: absolute;
  z-index: 1;
}
.bubble-text--link {
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgba(0, 0, 0, 0);
  text-decoration: none;
  user-select: none;
}
.main--main-screen {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
}
.main-screen {
  .view-box--canvas {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .cb {
    top: 50px;
    left: 40px;
    width: 2586px;
    height: 1770px;
    position: relative;
  }
  .lunch {
    position: relative;
    left: 50px;
    top: 50px;
    width: 2636px;
    height: (2636px / 3874 * 1926);
  }
}
.sidebar .sidebar--partner {
  padding-bottom: 2em;
  & a {
    padding: 0;
    flex: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    align-content: center;
  }
  & a:first-child {
    border-bottom: 1px solid $col-accent-grey;
  }
  & img {
    display: block;
    position: relative;
    max-width: 250px;
    width: 50%;
    height: auto;
    align-self: center;
    padding: 25px;
  }
}
.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  height: 100%;
  user-select: none;
}
.sidebar--toggle {
  position: absolute;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  img {
    width: 50px;
    opacity: 0.5;
  }
  &:hover img {
    opacity: 1;
  }
}
.sidebar--content {
  background: $col-bg;
  position: absolute;
  left: -40vmax;
  left: calc(-20em - 5px);
  top: 0;
  z-index: 2;
  overflow-x: none;
  overflow-y: scroll;
  width: 20em;
  height: 100%;
  height: -webkit-fill-available;
  border-right: 5px solid $col-accent-grey;
  transition: 0.4s all cubic-bezier(0.645, 0.045, 0.355, 1);
}
.sidebar--entries--indent {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.2em;
  a span:before {
    content: '− '
  }
}
.sidebar--content--active,
.sidebar--content:focus-within {
  left: 0;
}
.sidebar--entries,
.sidebar--lang {
  display: flex;
  flex-direction: column;
}
.sidebar--entries {
  padding: 1em 0;
}
.sidebar--lang {
  margin-top: 50px;
}
.sidebar--lang,
.sidebar--entries {
  border-bottom: 1px solid $col-accent-grey;
}
%sidebar-focussed {
  outline: none;
  color: $col-nav-active;
  background-color: $col-active-fill;
}
.sidebar a {
  padding: 0.5em 1.2em;
  text-decoration: none;
  color: $col-nav-inactive;
  border: 1px solid rgba(255, 255, 255, 0);
  &:hover,
  &:focus {
    @extend %sidebar-focussed;
  }
  &:focus {
    border: 1px dashed rgba(255, 255, 255, 0.35);
  }
  &, &:focus {
    border-left: none;
    border-right: none;
  }
}
.sidebar a.nuxt-link-exact-active,
.sidebar--entries--indent a.nuxt-link-active {
  @extend %sidebar-focussed;
  &:before {
    $size: 12px;
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    overflow: hidden;
    border-width: $size/2 0 $size/2 $size*.866;
    border-color: transparent transparent transparent #fff;
    margin-top: 4px;
    left: 0;
  }
}
.layout {
  width: 100%;
  min-height: 100vh;
  article {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: stretch;
    flex-direction: column;

    header {
      margin: 0 0.5em;
    }
    .content--home-link {
      display: flex;
      img {
        margin: 1em;
        width: 95px;
      }
      span {
        margin-left: 0.3em;
      }
      align-items: center;
    }
    h1 {
      font-weight: normal;
      font-size: 2em;
      display: inline-block;
      break-after: always;
      border-bottom: 2px solid $col-content-accent;
      margin-left: 0.7em;
    }
    .content--box {
      width: 100%;
      max-width: 960px;
      min-height: 100vh;
      background: $col-content-bg;
      padding-bottom: 2em;
    }
    a {
      color: $col-content-link;
    }
    a:focus {
      outline: none;
      background: $col-accent-grey;
    }
    dl {
      margin: 1.5em 0;
    }
    dt {
      font-style: italic;
      padding-right: 0.3em;
      color: #666;
    }
    dd {
      margin: 0;
      flex-grow: 1;
      white-space: nowrap;
      margin-left: 0.5em;
    }
    .nuxt-content {
      padding: 0 1.5em;
    }
    dt, dd {
      margin-bottom: 0.3em;
    }
  }
  display: none;
}
.wf-active .layout {
  display: block;
}
.lunch--image {
  width: 100%;
}
.lunch-item--marker {
  position: absolute;
  display: block;
  width: 10px;
  height: 10px;
  &.debug:before {
    content: ' ';
    overflow: hidden;
    width: 40px;
    height: 40px;
    margin: -20px 0 0 -20px;
    border-radius: 20px;
    background: red;
    position: absolute;
    z-index: 1;
  }
}
.lunch-item--marker--info {
  position: absolute;
  bottom: 200px;
  display: none;
}
.lunch-item--marker--box {
  position: relative;
  background: white;
  padding: 1em;
  font-size: 58px;
  margin-left: -50%;
  display: flex;
  flex-direction: column;
  width: min-content;
}
.lunch-item--marker--name {
  font-size: 72px;
  margin-bottom: 0.5em;
  white-space: nowrap;
  clear: both;
}
.lunch-item--marker--source {
  min-width: 700px;
}
.lunch-item--line {
  display: none;
  position: absolute;
  width: 40px;
  left: -20px;
  top: -210px;
}
.lunch-item--marker:focus {
  .lunch-item--line,
  .lunch-item--marker--info {
    display: block;
  }
}
.bubble-text--shadow {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.9s;
}
.bubble-text--rounded-rect {
  &, &::content {
    border: 1px solid rgba(0, 0, 0, 0);
    transition: all 0.2s;
  }
}
.bubble-text--link {
  &:focus {
    outline: none;
    .bubble-text--rounded-rect {
      border: 10px solid #000;
    }
  }
  &:hover {
    .bubble-text--rounded-rect {
      border-color: rgba(0, 0, 0, 0.60);
    }
  }
}
.bubble-text--active {
  .bubble-text--rounded-rect {
    border-color: #000;
  }
  .bubble-text--shadow {
    display: block;
    opacity: 0.78;
  }
  .bubble-text--link {
    pointer-events: none;
    display: none;
  }
  .bubble-info {
    display: block;
  }
}
.bubble-info {
  position: absolute;
  width: 100%;
  height: 100%;
  display: none;
}
.bubble-info--open,
.bubble-info--close {
  pointer-events: all;
  width: 1.8em;
  height: 1.8em;
  bottom: 0.4em;
  position: absolute;
  opacity: 0.8;
  cursor: pointer;
  z-index: 2;
  &:hover, &:focus {
    opacity: 1;
  }
}
.bubble-info--open,
.bubble-info--container {
  transition: bottom 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.bubble-info--open:focus {
  outline: 1px solid rgba(255, 255, 255, 0.60);
}
.bubble-info--close:focus {
  outline: 1px solid rgba(0, 0, 0, 0.60);
}
.bubble-info,
.bubble-info--container {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
}
.bubble-info--container {
  overflow: scroll;
  background: rgba(255, 255, 255, 0.95);
  bottom: -100%;
  pointer-events: none;
  user-select: none;
  display: none;
  h2 {
    font-size: 1.2em;
  }
}
.bubble-info--active
.bubble-info--container {
  bottom: 0;
  pointer-events: all;
  user-select: text;
}
.bubble-info--active {
  & .bubble-info--container, & .bubble-info--close {
    display: block;
  }
}
.bubble-info--active
.bubble-info--open,
.bubble-info--close {
  display: none;
}
.bubble-info--content {
  h2 {
    font-size: 1.2em;
    margin-bottom: 0.4em;
  }
  h3 {
    font-size: 1em;
    margin-top: 0.1em;
    margin-bottom: 0.2em;
  }
}
.bubble-info--buttons-right {
  .bubble-info--close,
  .bubble-info--open {
    right: 0.4em;
  }
  .bubble-info--content {
    padding: 0.5em 3em 1.2em 1.2em;
  }
}
.bubble-info--buttons-left {
  .bubble-info--close,
  .bubble-info--open {
    left: 0.4em;
  }
  .bubble-info--content {
    padding: 0.5em 1em 1.2em 3em;
  }
}
.bubble-info--hidden {
  pointer-events: none;
}
.bubble-info--ingredient {
  // Changing the size also requires an update of ../ingredients.ts!
  min-width: 90em;
  min-height: 90em;
  max-width: 90em;
  max-height: 90em;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  overflow: hidden;
  text-indent: -5000em;
  font-size: 0.027em;
  margin-right: 15em;
}
.bubble-info--ingredient-box {
  display: flex;
  align-items: center;
  margin-bottom: 0.4em;
}
.bubble-info--ingredient-text {
  color: black;
  font-size: 0.6em;
  min-width: 0;
}
.bubble-info--ingredient-cosmopolitan {
  background: $col-bg url('/img/lunch/cosmopolitan.jpg');
}
.bubble-info--ingredient-desperate {
  background: $col-bg url('/img/lunch/desperate.jpg');
}
.bubble-info--ingredient-gamble {
  background: $col-bg url('/img/lunch/gamble.jpg');
}
.bubble-info--ingredient-garden {
  background: $col-bg url('/img/lunch/garden.jpg');
}
.bubble-info--links {
  & ul, & li {
    padding: 0;
    margin: 0;
  }
  & li {
    font-size: 0.6em;
    margin-bottom: 0.5em;
    a {
      color: black;
      text-decoration: none;
      border-bottom: 1px solid rgba(0, 0, 0, 0.60);
    }
  }
}
#outdated-browser {
  padding: 15px 30px;
  font-size: 20px;
  color: #000;
  background: white;
  display: inline-block;
  position: absolute;
  left: 20px;
  top: 20px;
}