$col-bg: #424852;
$col-bg-dark: darken($col-bg, 10%);
$col-gradient-start: #29364B;
$col-gradient-end: #05070A;
$col-accent-grey: #B5B5B5;
$col-nav-active: #fff;
$col-nav-inactive: rgba(255, 255, 255, 0.6);
$col-active-fill: rgba(255, 255, 255, 0.3);

@font-face {
  font-family: "CaveatBrush";
  src: url("/font/caveat/CaveatBrush-Regular.woff2") format("woff2"),
       url("/font/caveat/CaveatBrush-Regular.woff") format("woff"),
       url("/font/caveat/CaveatBrush-Regular.ttf") format("ttf");
}

@font-face {
  font-family: "HonyaJi";
  src: url("/font/honya/HonyaJi-Re.woff2") format("woff2"),
       url("/font/honya/HonyaJi-Re.woff") format("woff"),
       url("/font/honya/HonyaJi-Re.ttf") format("ttf");
}

body {
  background: $col-bg-dark;
}
body, html {
  padding: 0;
  margin: 0;
}

footer, header {
  background: $col-bg;
  width: 100%;
}
header {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
main,
footer {
  border-top: 5px solid $col-accent-grey;
}
.lang--link {
  height: 2em;
  display: flex;
  padding: 0 1.2em;
  justify-content: center;
  align-items: center;
  border-width: 1px;
  border-color: $col-accent-grey;
  border-left-style: solid;
}
.lang--link:last-child {
  border-right-style: solid;
}
.lang--button {
  text-decoration: none;
  color: $col-nav-inactive;
}
.lang--active,
.lang--button:hover {
  color: $col-nav-active;
  background-color: $col-active-fill;
}
.lang--active {
  cursor: default;
}

html[lang="en"] .font--nav, .font--nav--en {
  font-family: Calibri, 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}
html[lang="en"] .font--tex, .font--tex--en {
  font-family: CaveatBrush, serif;
}
html[lang="ja"] .font--tex, .font--tex--ja,
html[lang="ja-simple"] .font--tex, .font--tex--ja-simple,
html[lang="ja"] .font--nav, .font--nav--ja,
html[lang="ja-simple"] .font--nav, .font--nav--ja-simple,
.font--ruby {
  font-family: HonyaJi, sans-serif;
}

rect.debug {
  fill: none;
  stroke: red;
}

.button--next,
.button--prev {
  & {
    font-size: 90px;
  }
  & text {
    fill: rgba(255, 255, 255, 0.8);
    user-select: none;
  }
  &:hover text {
    fill: white;
  }
  & rect {
    // debug
    // fill: rgba(255, 255, 255, 0.2);
    fill: rgba(0, 0, 0, 0);
  }
}
.cb {
  fill: white;
}
.cb--content {
  transform: translate(135px, 135px);
  font-size: 150px;
  user-select: none;
}
.cb--question--title {
  font-size: 120px;
}
.cb--option--title {
  font-size: 90px;
}
html[lang="ja"] .cb--menu--title,
html[lang="ja-simple"] .cb--menu--title
{
  font-size: 100px;
}
.cb--menu--item {
  font-size: 110px;
}
.cb--menu--item-bg {
  fill: rgba(255, 255, 255, 0);
}
.cb--menu--item-active {
  fill: rgba(255, 255, 255, 0.4);
}
.cb--menu--item-button {
  cursor: pointer;
}
.cb--menu--item-button:hover {
  fill: rgba(255, 255, 255, 0.15);
}
.detail-header {
  width: 100%;
  font-size: 30px;
  font-weight: bold;
  background-color: #0C1408;
  background-image: url(/img/header_bg.webp);
  background-size: cover;
  height: 80px;
  border-top: 2px solid $col-accent-grey;
}
.detail-header--back {
  position: absolute;
  width: 80px;
  height: 80px;
  color: $col-nav-inactive;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.detail-header--back:hover {
  color: $col-nav-active;
}
.detail-header--title {
  color: white;
  display: flex;
  width: 100%;
  font-size: 1em;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.button--prev {
  & text {
    fill: rgba(255, 255, 255, 0.5);
  }
}
.lunch--alert {
  color: #000;
  font-family: Calibri, 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
  font-size: 600px;
  font-weight: bold;
}
.illustration {
  width: 100vw;
  height: 100vh;
  background: #05070A;
}
.main--main-screen {
  background-color: $col-gradient-start;
  background: linear-gradient($col-gradient-start, $col-gradient-end);
  display: flex;
  justify-content: center;
  width: 100%;
}