$col-bg: #424852;
$col-bg-dark: darken($col-bg, 10%);
$col-gradient-start: #29364B;
$col-gradient-end: #05070A;
$col-accent-grey: #B5B5B5;
$col-nav-active: #fff;
$col-nav-inactive: rgba(255, 255, 255, 0.6);
$col-active-fill: rgba(255, 255, 255, 0.3);
$col-content-side: #f0f0f0;
$col-content-bg: #fff;

@font-face {
  font-family: "CaveatBrush";
  src: url("/font/caveat/CaveatBrush-Regular.woff2") format("woff2"),
       url("/font/caveat/CaveatBrush-Regular.woff") format("woff"),
       url("/font/caveat/CaveatBrush-Regular.ttf") format("ttf");
}

@font-face {
  font-family: "HonyaJi";
  src: url("/font/honya/HonyaJi-Re.woff2") format("woff2"),
       url("/font/honya/HonyaJi-Re.woff") format("woff"),
       url("/font/honya/HonyaJi-Re.ttf") format("ttf");
}

body {
  background: $col-bg-dark;
}
body, html {
  padding: 0;
  margin: 0;
}

footer, header {
  background: $col-bg;
  width: 100%;
}
header {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
main,
footer {
  border-top: 5px solid $col-accent-grey;
}
.lang--link {
  height: 2em;
  display: flex;
  padding: 0 1.2em;
  justify-content: center;
  align-items: center;
  border-width: 1px;
  border-color: $col-accent-grey;
  border-left-style: solid;
}
.lang--link:last-child {
  border-right-style: solid;
}
.lang--button {
  text-decoration: none;
  color: $col-nav-inactive;
}
.lang--active,
.lang--button:hover {
  color: $col-nav-active;
  background-color: $col-active-fill;
}
.lang--active {
  cursor: default;
}

.font--nav, .font--nav--en,
.font--article, .font--article--en {
  font-family: Calibri, 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}
.font--tex, .font--tex--en {
  font-family: CaveatBrush, serif;
}

%font_ja {
  font-family: HonyaJi, sans-serif;
}

%font_ja_fallback {
  font-family: 'ヒラギノ角ゴ ProN' , 'Hiragino Kaku Gothic ProN' , '游ゴシック' , '游ゴシック体' , YuGothic , 'Yu Gothic' , 'メイリオ' , Meiryo , 'ＭＳ ゴシック' , 'MS Gothic' , HiraKakuProN-W3 , 'TakaoExゴシック' , TakaoExGothic , 'MotoyaLCedar' , 'Droid Sans Japanese' , sans-serif;
}

html[lang="ja"],
html[lang="ja-simple"] {
  & .font--tex, & .font--nav {
    @extend %font_ja;
  }
  & .font--article {
    @extend %font_ja_fallback;
  }
}
.font--tex--ja, .font--tex--ja-simple,
.font--nav--ja, .font--nav--ja-simple {
  @extend %font_ja;
}
.font--article--ja, .font--article--ja-simple {
  @extend %font_ja_fallback;
}

.button--next,
.button--prev {
  text-decoration: none;
  font-size: 90px;
  display: flex;
  width: 50%;
  color: $col-nav-inactive;
  top: 0px;
  position: absolute;
  &:hover {
    color: $col-nav-active;
  }
  & span {
    padding: 20px;
    user-select: none;
  }
}
.button--next {
  right: 0;
  justify-content: flex-end;
}
.cb--button-bar {
  position: absolute;
  left: 150px;
  right: 200px;
  bottom: 150px;
  height: 200px;
}
.cb {
  color: white;
  width: 2586px;
  height: 1770px;
  position: relative;
}
.cb--content {
  position: absolute;
  left: 135px;
  top: 135px;
  font-size: 150px;
  line-height: 1.9em;
  user-select: none;
}
.cb--question--title {
  font-size: 120px;
  line-height: 1.2em;
}
.cb-options {
  display: flex;
  flex-direction: row;
  top: 450px;
  width: 2200px;
  justify-content: space-evenly;
  position: absolute;
}
.cb-option {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.cb-option--image {
  width: 400px;
}
.cb-option--title {
  font-size: 90px;
}
.cb--menu--table {
  position: absolute;
  top: 350px;
  width: 2200px;
}
.cb--menu--table th img {
  width: 175px;
}
.cb--menu--weather {
  width: 200px;
}
.cb--menu--place {
  padding-top: 20px;
}
.cb--menu--title {
  font-size: 90px;
}
.cb--menu--item {
  font-size: 110px;
  border-color: white;
  border-width: 1px;
}
.cb--menu tr:nth-child(1) td:nth-child(2),
.cb--menu tr:nth-child(1) td:nth-child(3) {
  border-bottom-style: solid;
}
.cb--menu tr:nth-child(1) td:nth-child(2),
.cb--menu tr:nth-child(2) td:nth-child(2) {
  border-right-style: solid;
}
.cb--menu--item a {
  text-decoration: none;
  color: white;
}
.cb--menu--item--active {
  background: rgba(255, 255, 255, 0.4);
}
.cb--menu--item--button:hover {
  background: rgba(255, 255, 255, 0.15);
}
.detail-header {
  width: 100%;
  font-size: 30px;
  font-weight: bold;
  background-color: #0C1408;
  background-image: url(/img/header_bg.webp);
  background-size: cover;
  height: 80px;
  border-top: 2px solid $col-accent-grey;
}
.detail-header--back {
  position: absolute;
  width: 80px;
  height: 80px;
  color: $col-nav-inactive;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.detail-header--back:hover {
  color: $col-nav-active;
}
.detail-header--title {
  color: white;
  display: flex;
  width: 100%;
  font-size: 1em;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.lunch--alert {
  color: #000;
  font-family: Calibri, 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
  font-size: 600px;
  font-weight: bold;
}
.view-box {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: #05070A;
}
.view-box--unfocus {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.view-box--canvas {
  position: relative;
  transform-origin: top left;
}
.view-box--canvas--focussed {
  cursor: pointer;

  & .bubble-text--link {
    display: none;
  }
}
.i18n-box {
  display: flex;
}
.bubble-text--content span {
  line-height: 1.5em;
}
html[lang="ja"],
html[lang="ja-simple"] {
  & .bubble-text--content span {
    line-height: 1.7em;
  }
}
.bubble-text--content {
  position: absolute;
  display: flex;
  align-items: center;

  span {
    padding: 0.3em 0.7em;
  }
}
.bubble-text--link {
  position: absolute;
  background: rgba(0, 0, 0, 0);
  text-decoration: none;
  user-select: none;
}
.main--main-screen {
  background-color: $col-gradient-start;
  background: linear-gradient($col-gradient-start, $col-gradient-end);
  display: flex;
  justify-content: center;
  width: 100%;
}
footer section {
  display: flex;
  & a {
    padding: 25px;
  }
}
.footer--partner {
  & a {
    flex: 1;
    display: flex;
    justify-content: center;
    align-content: center;
  }
  & a:first-child {
    border-right: 1px solid $col-accent-grey;
  }
  & img {
    height: 80px;
  }
}
.footer--common {
  border-top: 1px solid $col-accent-grey;
  justify-content: center;
  & a {
    color: $col-nav-inactive;
    text-decoration: none;
    &:hover {
      color: $col-nav-active;
    }
  }
}
article {
  background: $col-content-side;
  display: flex;
  justify-content: center;
}
.nuxt-content-container {
  max-width: 960px;
  width: 100%;
  background: $col-content-bg;
  padding: 1em 1.5em 2.5em 4em;
  h1 {
    font-weight: normal;
    font-size: 2em;
  }
}
