$col-bg: #424852;
$col-bg-dark: darken($col-bg, 10%);
$col-gradient-start: #29364B;
$col-gradient-end: #05070A;
$col-accent-grey: #B5B5B5;
$col-nav-active: #fff;
$col-nav-inactive: rgba(255, 255, 255, 0.6);
$col-active-fill: rgba(255, 255, 255, 0.1);
$col-content-side: #f0f0f0;
$col-content-bg: #fff;
$col-accent: lighten(#1E281A, 60%);

@font-face {
  font-family: "CaveatBrush";
  src: url("/font/caveat/CaveatBrush-Regular.woff2") format("woff2"),
       url("/font/caveat/CaveatBrush-Regular.woff") format("woff"),
       url("/font/caveat/CaveatBrush-Regular.ttf") format("ttf");
}

@font-face {
  font-family: "HonyaJi";
  src: url("/font/honya/HonyaJi-Re.woff2") format("woff2"),
       url("/font/honya/HonyaJi-Re.woff") format("woff"),
       url("/font/honya/HonyaJi-Re.ttf") format("ttf");
}

body {
  background: $col-gradient-start;
}
body, html {
  padding: 0;
  margin: 0;
}

.font--nav, .font--nav--en,
.font--article, .font--article--en {
  font-family: Calibri, 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}
.font--tex, .font--tex--en {
  font-family: CaveatBrush, serif;
}

%font_ja {
  font-family: HonyaJi, sans-serif;
}

%font_ja_fallback {
  font-family: 'ヒラギノ角ゴ ProN' , 'Hiragino Kaku Gothic ProN' , '游ゴシック' , '游ゴシック体' , YuGothic , 'Yu Gothic' , 'メイリオ' , Meiryo , 'ＭＳ ゴシック' , 'MS Gothic' , HiraKakuProN-W3 , 'TakaoExゴシック' , TakaoExGothic , 'MotoyaLCedar' , 'Droid Sans Japanese' , sans-serif;
}

html[lang="ja"],
html[lang="ja-simple"] {
  & .font--tex, & .font--nav {
    @extend %font_ja;
  }
  & .font--article {
    @extend %font_ja_fallback;
  }
}
.font--tex--ja, .font--tex--ja-simple,
.font--nav--ja, .font--nav--ja-simple {
  @extend %font_ja;
}
.font--article--ja, .font--article--ja-simple {
  @extend %font_ja_fallback;
}

.button--next,
.button--prev {
  text-decoration: none;
  font-size: 90px;
  display: flex;
  width: 50%;
  color: $col-nav-inactive;
  top: 0px;
  position: absolute;
  &:hover {
    color: $col-nav-active;
  }
  & span {
    padding: 20px;
    user-select: none;
  }
}
.button--next {
  right: 0;
  justify-content: flex-end;
}
.cb--button-bar {
  position: absolute;
  left: 150px;
  right: 200px;
  bottom: 150px;
  height: 200px;
}
.cb {
  color: white;
}
.cb--content {
  position: absolute;
  left: 135px;
  top: 135px;
  font-size: 150px;
  line-height: 1.9em;
  user-select: none;
}
.cb--question--title {
  font-size: 120px;
  line-height: 1.2em;
}
.cb-options {
  display: flex;
  flex-direction: row;
  top: 450px;
  width: 2200px;
  justify-content: space-evenly;
  position: absolute;
}
.cb-option {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.cb-option--image {
  width: 400px;
}
.cb-option--title {
  font-size: 90px;
}
.cb--menu--table {
  position: absolute;
  top: 350px;
  width: 2200px;
  border-collapse: collapse;
}
.cb--menu--table th img {
  width: 175px;
}
.cb--menu--weather {
  padding-right: 50px;
}
.cb--menu--place {
  padding-top: 20px;
}
.cb--menu--title {
  font-size: 90px;
}
.cb--menu--item {
  font-size: 110px;
  border-color: rgba(255, 255, 255, 0.75);
  border-width: 0.3vmax;
  width: 50%;
  position: relative;
  a, span {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
  }
}
.cb-option--image {
  width: 400px;
}
.cb--menu {
  tr:nth-child(1) {
    td:nth-child(2),
    td:nth-child(3) {
      border-bottom-style: solid;
    }
  }
  tr:nth-child(1) td:nth-child(2),
  tr:nth-child(2) td:nth-child(2) {
    border-right-style: solid;
  }
}
.cb--menu--item--active {
  background: rgba(255, 255, 255, 0.4);
}
.cb--menu--item--button:hover {
  background: rgba(255, 255, 255, 0.15);
}
.progress {
  font-size: 15px;
  position: fixed;
  right: 0;
  top: 0;
  padding: 20px;
  z-index: 1;
  color: white;
  text-shadow: #000 1px 1px 5px;
}
.lunch--alert {
  color: #000;
  font-family: Calibri, 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
  font-size: 600px;
  font-weight: bold;
}
.view-box {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.lunch-detail .view-box {
  background: $col-gradient-end;
}
.lunch-detail--lunch {
  display: flex;
  justify-content: center;
  svg {
    margin: 100px 20px;
    max-width: 960px;
  }
}
.lunch-detail--spacer {
  color: white;
  position: relative;
  margin-top: -50px;
  width: 100%;
  height: 50px;
  text-align: center;
  span {
    &:before, &:after {
      content: '>';
      transform: rotate(90deg);
      display: inline-block;
      padding: 0 20px;
    }
    position: relative;
    display: inline-block;
    padding: 0.75em;
    top: 0;
    font-size: 20px;
  }
}
.view-box--illustration {
  background: $col-gradient-end;
}
.view-box--unfocus {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.view-box--canvas {
  position: relative;
  transform-origin: top left;
}
.view-box--canvas--focussed {
  cursor: pointer;

  .bubble-text--link {
    pointer-events: none;
  }
}
.i18n-box--placed {
  display: flex;
}
.bubble-text--content {
  position: absolute;
  & span {
    &, & rt {
      user-select: none;
      background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVQYV2Pg4uL6DwABXgEewyNBSAAAAABJRU5ErkJggg==);
      background-size: 200px 8000px;
      background-position: right;
      background-repeat: no-repeat;
      transition: 1s background-size linear;
    }
    transition: 3s background-size linear;
    line-height: 1.5em;
    &.bubble-text--seen {
      &, & rt {
        user-select: text;
        background-size: 0px 8000px !important;
      }
    }
  }
}
.bubble-text--padding {
  padding: 0.3em 0.7em;
}
.bubble-text--seen {
  background-size: 0
}
html[lang="ja"],
html[lang="ja-simple"] {
  & .bubble-text--content span {
    line-height: 1.7em;
  }
}
.bubble-text--link {
  position: absolute;
  background: rgba(0, 0, 0, 0);
  text-decoration: none;
  user-select: none;
}
%gradient {
  background-color: $col-gradient-start;
  background: linear-gradient($col-gradient-start, $col-gradient-end 100vh);
}
.main--main-screen {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
}
.main-screen {
  .view-box--canvas {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .cb {
    top: 50px;
    left: 40px;
    width: 2586px;
    height: 1770px;
    position: relative;
  }
  .lunch {
    position: relative;
    left: 50px;
    top: 50px;
    width: 2636px;
    height: (2636px / 3874 * 1926);
  }
}
.sidebar .sidebar--partner {
  padding-bottom: 2em;
  & a {
    padding: 0;
    flex: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    align-content: center;
  }
  & a:first-child {
    border-bottom: 1px solid $col-accent-grey;
  }
  & img {
    display: block;
    position: relative;
    max-width: 250px;
    width: 50%;
    height: auto;
    align-self: center;
    padding: 25px;
  }
}
.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  height: 100%;
}
.sidebar--toggle {
  position: absolute;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  img {
    width: 50px;
    opacity: 0.5;
  }
  &:hover img {
    opacity: 1;
  }
}
.sidebar--content {
  background: $col-bg;
  position: absolute;
  left: -40vmax;
  left: calc(-20em - 5px);
  top: 0;
  z-index: 2;
  overflow-x: none;
  overflow-y: scroll;
  width: 20em;
  height: 100%;
  height: -webkit-fill-available;
  border-right: 5px solid $col-accent-grey;
  transition: 0.4s all cubic-bezier(0.645, 0.045, 0.355, 1);
}
.sidebar--entries--indent {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.2em;
  a span:before {
    content: '− '
  }
}
.sidebar--content--active {
  left: 0;
}
.sidebar--entries,
.sidebar--lang {
  display: flex;
  flex-direction: column;
}
.sidebar--entries {
  padding: 1em 0;
}
.sidebar--lang {
  margin-top: 50px;
}
.sidebar--lang,
.sidebar--entries {
  border-bottom: 1px solid $col-accent-grey;
}
%sidebar-focussed {
  outline: none;
  color: $col-nav-active;
  background-color: $col-active-fill;
}
.sidebar a {
  padding: 0.5em 1.2em;
  text-decoration: none;
  color: $col-nav-inactive;
  &:hover,
  &:focus {
    @extend %sidebar-focussed;
  }
}
.sidebar a.nuxt-link-exact-active,
.sidebar--entries--indent a.nuxt-link-active {
  @extend %sidebar-focussed;
  &:before {
    content: '►';
    position: absolute;
    font-family: Calibri, 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    margin-top: 2px;
    left: 0;
  }
}
.layout {
  @extend %gradient;
  width: 100%;
  min-height: 100vh;
  article {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: stretch;
    flex-direction: column;

    header {
      margin: 0 0.5em;
    }
    .content--home-link {
      display: flex;
      img {
        margin: 1em;
        width: 95px;
      }
      span {
        margin-left: 0.3em;
      }
      align-items: center;
    }
    h1 {
      font-weight: normal;
      font-size: 2em;
      display: inline-block;
      break-after: always;
      border-bottom: 2px solid $col-accent;
      margin-left: 0.7em;
    }
    .content--box {
      width: 100%;
      max-width: 960px;
      min-height: 100vh;
      background: $col-content-bg;
    }
    .nuxt-content {
      padding: 0 1.5em;
    }
  }
}
.lunch--image {
  width: 100%;
}
.lunch-item--marker {
  position: absolute;
  display: none;
  &.debug:before {
    content: ' ';
    overflow: hidden;
    width: 40px;
    height: 40px;
    margin: -20px 0 0 -20px;
    border-radius: 20px;
    background: red;
    position: absolute;
    z-index: 1;
  }
}
.lunch-item--marker--info {
  position: absolute;
  bottom: 200px;
}
.lunch-item--marker--box {
  position: relative;
  background: white;
  padding: 1em;
  font-size: 58px;
  margin-left: -50%;
  display: flex;
  flex-direction: column;
  width: min-content;
}
.lunch-item--marker--name {
  font-size: 72px;
  margin-bottom: 0.5em;
  white-space: nowrap;
  clear: both;
}
.lunch-item--marker--source {
  min-width: 700px;
}
.lunch-item--line {
  position: absolute;
  width: 40px;
  left: -20px;
  top: -210px;
}
.bubble-text--shadow {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.9s;
}
.bubble-text--rounded-rect {
  border: 1px solid rgba(0, 0, 0, 0);
  transition: all 0.2s;
}
.bubble-text--link:hover {
  .bubble-text--rounded-rect {
    border-color: rgba(0, 0, 0, 0.78);
  }
}
.bubble-text--active {
  .bubble-text--rounded-rect {
    border-color: #000;
  }
  .bubble-text--shadow {
    display: block;
    opacity: 0.78;
  }
}